[2019-05-07 14:47] wideblaze opened #1 "Memory Leak consumes all memory"
Memory leak causes minecraft to consume all available memory.
This can cause computer to swap excessively / hang.
Seems to happens when Custom NPC GUI left open or player is afk.

[2019-05-07 14:53] wideblaze commented on #1
Issue is with Custom NPC mod CustomNPCs_1.12.2(30Jan19) & iChunUtil-1.12.2-7.2.1
Issue is fixed in next release. ETA unknown.

----

Icek00l
I don't know if this is something that has been reported before, or is even a common issue, but with Custom NPCs, whenever I spawn even one NPC, my minecraft client begins to just keep using more and more memory until my computer crashes and runs out of RAM.

[2019-05-08 21:24] wideblaze opened #2 "Custom NPC minecraft riders can disappear"
Custom NPC minecart riders disappear. They remain on track and block minecarts.

[2019-05-08 21:26] wideblaze commented on #2
I believe this is related to #1 but was not able to get confirmation from mod discord. This does not affect gameplay, only impacts a cut scene.

[2019-05-10 13:51] wideblaze commented on #2
Work around: Since this does not affect gameplay. No need to do anything.

[2019-05-10 13:54] wideblaze commented on #1
Work around: Restart client will clear memory. Limit AFK when interacting with NPCs.

[2019-05-13 11:43] wideblaze opened #3 "DankNull crashes server when placing some blocks"
DankNull crashes server when placing some blocks such as slab.

[2019-05-13 11:46] wideblaze commented on #3
mod bug in DankNull-1.12-1.4.46

https://github.com/p455w0rd/DankNull/issues/171

fix pending release - eta unknown

[2019-05-13 11:47] wideblaze commented on #3
patched: Back reved mod to .43

[2019-05-24 15:19] wideblaze commented on #2
Potential cause CustomNPC + VanillaFix
https://github.com/DimensionalDevelopment/VanillaFix/issues/130

[2019-05-30 01:54] chatts121 opened #4 "unable to load worlds"
keeps coming back with problem with ichunutil. tried to use other versions both of this mod and the mod pack but keep getting the same message. evan tried to delete the mod and the mods that depend on it and get a unknown cause for the crash. please help as really like the look of the mod

[2019-05-30 13:14] wideblaze commented on #4
please provide crash log

[2019-05-30 13:27] chatts121 commented on #4
[crash-2019-05-30_14.26.31-client.txt](https://github.com/wideblaze/DigSite/files/3237165/crash-2019-05-30_14.26.31-client.txt)

[2019-05-30 17:05] wideblaze commented on #4
looks like it might be related to #1

[2019-05-30 17:08] wideblaze commented on #4
possible to allocate more memory?

[2019-05-30 17:20] chatts121 commented on #4
I try allocate 2gb but get this message from the launcher
Error occurred during initialization of VM
Could not reserve enough space for 2097152KB object heap
Java HotSpot(TM) Client VM warning: ignoring option PermSize=256m; support was removed in 8.0

[2019-05-30 17:35] chatts121 commented on #4
tried turning it down bit by bit from 2gb and got this report after it was down to 1536 mb
[crash-2019-05-30_18.32.00-client.txt](https://github.com/wideblaze/DigSite/files/3238072/crash-2019-05-30_18.32.00-client.txt)

[2019-05-30 17:44] wideblaze commented on #4
Unfortunately, you may be just out of luck for now.
It's known to generally work great with 4GB allocated even with memory leak issue.

I don't want to invest much time in memory issues until #1 is resolved.

[2019-05-30 22:39] chatts121 commented on #4
I got it to work (well load into a world so far) by using the Minecraft launcher instead of the twitch app thing I think the reason for the problem with the twitch app is that it was using the 32 bit version of java instead of the 64bit and so it was stopping the amount of allocated memory needed.

[2019-05-31 03:17] wideblaze commented on #4
That is good news. Thank you so much for sharing the info -- it will be really helpful if others encounter the same problems!

FYI -- you may want to ensure you are running[ latest version](https://minecraft.curseforge.com/projects/digsite/files) on modpack now that you can get it to load. It has a large number of questline improvements and fixes.

[2019-05-31 03:20] #4 closed, assigned to wideblaze

[2019-05-31 03:23] wideblaze commented on #3
pack updated with fixed version of mod

[2019-05-31 03:23] #3 closed, assigned to wideblaze

[2019-06-02 22:08] wideblaze opened #5 "[BUG]Slater quest line bugged - unable to win"
An issue with slater questline -- unable to progress

[2019-06-03 17:29] wideblaze commented on #5
fix in progress

[2019-06-04 18:15] wideblaze commented on #5
release 0.1.61 Beta resolves this

[2019-06-04 18:15] #5 closed, assigned to wideblaze

[2019-06-26 00:58] pyriell opened #6 "Pneumaticcraft Drone causes crash when used with Complex Crops"
I built one of these hoping to farm cucumbers to trade for polymer clay when farming non-overworld mobs in the Deep Learning setup.  I figured the worst that would happen is that it would just idle, not knowing what to do with plants added by Complex Crops.  After I deployed it, I went to the Ranch to drop some things off, and the internal server suddenly shut down, complaining that these two mods

[2019-06-26 12:37] wideblaze commented on #6
ooof -- that is rough -- probably the fastest / safest fix is to go to backup (the pack does auto backups)

I'll open an issue with pneumaticraft repressurized but don't expect it to be a priority. Complex crops is not mainstream or getting updates.

I will remove the drone recipe -- thanks! I wasn't happy with it's performance/effort to get working in my test world so I removed the progression li

[2019-06-26 12:50] wideblaze commented on #6
Work around: do not craft drone. Drone recipe will be removed from pack in next release. Will be readded if issue is resolved.

[2019-06-26 12:53] desht commented on #6
This is a bug in Complex Crops, plain and simple.  To be precise, right here: https://github.com/MattCloward/Complex-Crops/blob/master/src/main/java/complexcrops/blocks/BlockCornTop.java#L82

``Block#getDrops`` get a ``IBlockAccess``, not a ``World``, and Complex Crops has no business assuming it's actually a ``World``, and most definitely no business altering the world in a reader method like ``g

[2019-06-26 19:29] pyriell commented on #6
I didn't mention it, but it's probably worth noting that I was mainly doing cucumbers, but I also had a row or two of corn around the edges in the survival world.  When I did the creative test, the failure was specifically when corn matured.  I was testing using bonemeal, and it doesn't have any effect on cucumbers as far as I can recall.

Maybe that issue is replicated in the cucumbers, I don't k

[2019-06-29 20:13] Turmfalke2 opened #7 "Cardboard box trivialises pneumatic craft security station"
hi,

I just played through your pack (at least I killed cybz) and truely enjoyed it.

However in hinsight I feel like the  ~5 mekanism cardboard boxes you get from the storage warehouse are a bit to powerful. They allow picking up spawner, for an easy early mob farm and even more so they allow picking up the pneumatic craft security stations. This allows breaking through sealed of parts of the squ

[2019-06-29 23:12] wideblaze commented on #7
Thanks for the heads up on the security station!! I had nerfed it for spawners in the last release but hadn’t seen anyone use it on a station yet.

Glad you enjoyed the pack!

[2019-06-30 14:43] wideblaze commented on #7
https://github.com/mekanism/Mekanism/issues/5548

[2019-06-30 19:13] wideblaze commented on #7
got a fix from mekanism team -- will be in release 1.0.03 of DigSite

[2019-07-01 21:53] wideblaze commented on #6
drone recipes were removed in 1.0.02 release

[2019-07-01 21:53] #6 closed, assigned to wideblaze

[2019-07-02 14:27] Knoxxar opened #8 "XP Rewards crash the server"
Hi guys,

erytime if anyone get an xp reward from the questbook, the server crashes.

ServerInfos: Debian 9 , 8GB Ram, 2 Cores 3,4 Ghz
Modpack: Version 1.0.02

Croshlog is also here:

https://pastebin.com/SNPTj9WN

[2019-07-02 16:36] wideblaze commented on #8
https://github.com/FTBTeam/FTB-Quests/issues/319

[2019-07-02 20:58] wideblaze commented on #2
used no ai mobs instead of custom npcs
no longer care about this issue

[2019-07-02 20:58] #2 closed, assigned to wideblaze

[2019-07-02 20:59] wideblaze commented on #1
does not seem to affect players -- only a problem when doing world editing
so I no longer care about this issue

[2019-07-02 20:59] #1 closed, assigned to wideblaze

[2019-07-02 21:13] wideblaze opened #9 "Lighting effects crashes game p455w0rdslib-1.12.2-2.2.151"
(https://paste.dimdev.org/atocaliqic.mccrash)

[2019-07-02 21:14] wideblaze commented on #9
work around: changing the following options in p455w0rdsLib.cfg fixed it:
B:EnableShaders=false
B:EnableVanillaLightingEffects=false

[2019-07-02 21:15] wideblaze commented on #9
https://github.com/p455w0rd/p455w0rds-Library/issues/37

[2019-07-03 21:50] wideblaze commented on #9
disabled in config

[2019-07-03 21:50] wideblaze commented on #9
resolved in 1.0.03 release

[2019-07-03 21:51] #9 closed, assigned to wideblaze

[2019-07-03 21:51] wideblaze commented on #7
resolved in 1.0.03 release

[2019-07-03 21:51] #7 closed, assigned to wideblaze

[2019-07-04 16:10] wideblaze commented on #8
still waiting on a response from mod dev

[2019-07-04 16:12] wideblaze commented on #8
work around: do not collect xp rewards from quests -- not essential to gameplay -- xp can be gained by killing mobs

[2019-07-06 08:57] rybplayer opened #10 "(Issue/Suggestion) Early Game Combat Too Rough"
Hello,

Have to say I am really enjoying your pack. Just wanted to pull out an issue/suggestion regarding early game combat, specifically when players attempt to enter the digsite.

Somehow in my world skeletons continually spawn in the cave before the entrance to the desert temple. By continually I mean way way too frequently.

Since in the early game I have only enough hearts and armor to withst

[2019-07-06 09:59] Turmfalke2 commented on #10
I also had to go through several corpse runs at the beginning of the game due to skeletons. I however found a simple shield helps immensely, as in it allows me to kill enough monsters to slowly gain hearts before I eventually fuck up and die. Maybe making a shield could be recommened in the quest book?

[2019-07-06 16:52] wideblaze commented on #10
Rybplayer - It’s purposely difficult (but not impossible) — and you found one of several solutions to the problem. Most problems have 3 or more solutions.

I will include shields 🛡loot nearby and have the fisherman recommend in next release — great idea Termfalke2

[2019-07-06 23:04] wideblaze commented on #10
release 1.0.05 includes shield quest, fisherman now says bring shield, shields (multi-color selection) now found in Lucville

[2019-07-06 23:04] #10 closed, assigned to wideblaze

[2019-07-06 23:06] wideblaze commented on #8
release 1.0.05 replaces all exp rewards with bottles of enchanting -- this should resolve crashes.

will not be going back to exp rewards even if mod fixes them

[2019-07-06 23:06] #8 closed, assigned to wideblaze

[2019-07-07 06:46] rybplayer opened #11 "Mekanism Ores and Others Cannot be Ore Excavated"
Certain Mekanism Ores as well as other blocks appear to be immune to ore excavation, regardless of the tool used. Examples include copper and tin ore.

[2019-07-07 13:12] wideblaze commented on #11
I've attempted to fix this a couple of times -- so if anyone has a fix please let me know.

Other than allowing everything to be excavated (which I do not want to enable)

ore excavation has a whitelist functionality but I can't seem to get it to work. I believe if I'm able to get that to work I have to add every block I want to allow -- seems like an error-prone chore.

I'll try again -- and open

[2019-07-08 04:06] rybplayer commented on #11
The only fast (and dirty) solution I can see is to replace the mod with similar alternatives, such as VeinMiner, but even that does not guarantee a sucess...

[2019-07-08 04:14] rybplayer opened #12 "Matter Overdrive Androids Shift In and Out of Existence"
Matter Overdrive Androids in the surface part of the flame appear to constantly shift in and out of existence:

Attempting to snipe androids with a bow and arrow(s) becomes dificult as androids somehow can appear and disappear from sight depending on where you are. Getting close to them can sometimes cause them to dissapear, and getting away sometimes cause them to reappear, and vice versa as well

[2019-07-08 04:27] rybplayer opened #13 "(Suggestion) Matter Overdrive Androids Guarding the Flame Pose Too Little of a Threat"
I think I will regret posting this.

The androids guarding the surface entrance to the flame does not prevent players from just speedrunning to the gun.

It is in fact possible to simply run in, break the glass, and enter the portal to the flame. The leather armor given at the start (or the chainmail helmet and chainmail leggings) as well as an additional heart is enough to completely run through

[2019-07-08 04:55] wideblaze commented on #13
interesting -- thanks for the strategy details

I will have to check to make sure I didn't break the surface gate during last map edit -- should not be able to use surface gate until flame quest active. I understand tunneling is still an option.

I have an open request with C4 to have champions mod enhanced to be able to create custom champions at specific coords -- this is one of the planned loca

[2019-07-08 04:57] wideblaze commented on #12
I believe this is working as intended by the matter overdrive mod -- I will have to investigate.

[2019-07-08 04:58] wideblaze commented on #11
worked on this a little today -- seems related to tool requirement -- need to do more testing to confirm

[2019-07-08 10:12] rybplayer opened #14 "Minecraft Torches When Placed and Broken Change Into Unlit Torches"
Regular torches from Minecraft drop unlit torches from Realistic Torches. This is good because it forces players to think about where they want to place their torches, but cosidering the nether is disabled this becomes a pretty serious issue.

[2019-07-08 10:42] wideblaze commented on #14
Working as designed. Alternate ways to gather nether materials and do lighting

[2019-07-08 10:42] #14 closed, assigned to wideblaze

[2019-07-08 11:13] wideblaze commented on #13
C4 2:07AM
“No worries, it's alright. Sorry it's taking a while, it's definitely on the to-do list and will be in the next Champions update whenever that may be.”

[2019-07-11 12:03] wideblaze commented on #11
https://github.com/Funwayguy/OreExcavation/issues/102

[2019-07-11 12:06] #12 closed, assigned to wideblaze

[2019-07-14 23:53] wideblaze commented on #13
Summonat coords custom champions for champions mod got released today. Will start playing with tomorrow— hopefully some custom champions in next modpack release

[2019-07-19 17:46] wideblaze commented on #13
1.0.08 contains custom champion guards

[2019-07-19 17:46] #13 closed, assigned to wideblaze

[2019-07-20 20:19] wideblaze commented on #1
Work Around 2: Disable mods iChunUtil and Portal Gun

This will remove content from the game but it is not crucial to gameplay

[2019-08-29 22:00] FinnsRevenge opened #15 "crash when putting items in the crafting station?"
https://paste.dimdev.org/gucihuguqi.mccrash

[2019-08-30 00:23] FinnsRevenge commented on #15
Updating the crafting station mod fixed it

[2019-09-01 23:14] wideblaze commented on #15
Fix released 1.0.13

[2019-09-01 23:14] #15 closed, assigned to wideblaze

[2019-09-09 02:13] iisworm opened #16 "Invisible ladders"
The Rusty Ladders from MalisisDoors are invisible. I'm not sure if it's due to Optifine (or one of it's options) but I will test all of those options and see if this is resolved.

https://aeswere.ca/images/gktfev.png - Proof

[2019-09-09 03:25] wideblaze commented on #16
Adding Optifine is known to introduce a number of render glitches and is considered a modification of the pack.

work around: play despite glitches or remove optifine

From the DigSite FAQ https://github.com/wideblaze/DigSite/wiki/Frequently-Asked-Questions

[2019-09-09 05:32] iisworm commented on #16
Alright, thanks for the answer.

[2019-09-09 05:32] #16 closed, assigned to wideblaze

[2019-09-14 18:18] wideblaze opened #17 "Game crashes during load - Caught exception from Patchouli (patchouli)"
reported by: Spades the Neko

log: https://pastebin.com/gEUKW805

[2019-09-14 18:24] wideblaze commented on #17
re-install did not correct issue

[2019-09-14 18:24] wideblaze commented on #17
requested verification user's twitch launcher is set to native

[2019-09-14 18:32] wideblaze commented on #17
https://github.com/Vazkii/Patchouli/issues/139

[2019-09-14 18:33] wideblaze commented on #17
launcher was set to JAR
changing it to native launcher resolved issue

[2019-09-14 18:34] #17 closed, assigned to wideblaze

[2019-09-18 15:56] SurvivalHorst opened #18 "Main Questline gone after updating to DigSite 1.0.16"
I've been progressing to The Flame Station yesterday and finished with having to repair the Flame Station's Factory.
Today I updated the server + client to DigSite 1.0.16. After logging in, my main questline is gone though. My friend (same server) still does have his main quest.

All I have for now is a sidequest (Looking for Tillmann) which I wasn't able to finish yesterday as Tillmann wouldn't t

[2019-09-18 20:25] SurvivalHorst commented on #18
Having continued to play today (still on it) I realized that there is going to be a endgame quest category. So this doesn't seem to be broken - just a bit irritating?

Cheers,
SurvivalHorst

[2019-09-19 04:28] wideblaze commented on #18
Sorry for the late reply but it’s not the update. The quest line picks back up when you follow the note the prisoner hands you in the flame.

[2019-09-19 07:06] SurvivalHorst commented on #18
Perfect. Sorry for the trouble - I guess it was simply confusing for us to play late, update the server the next day and then realizing the main quest line has come to an end without noticing before the update (for us it simply looked as if the quest line disappeared ;) ).
We're back on track already after having followed the note ^^.

Again, thanks for this amazing pack!

[2019-09-19 07:06] #18 closed, assigned to wideblaze

[2019-09-19 09:44] wideblaze commented on #18
No worries, I could see how that could happen

[2019-09-19 11:21] wideblaze opened #19 "Chests glitch if you place 3 of them next to each other"
As the title says.

Should not be able to place 3 next to each other.

The 3rd chest placed causes one of the chests to become invisible.

need to isolate mod causing this

[2019-09-27 00:18] QyryAsh opened #20 "Exception Ticking World near Flame Station"
Hello,

My friends and I have been playing the DigSite mod for a while now, and found that we cannot get close to the Flame Station. Everytime we get close the server crashes and we get the exception Ticking World.

We have tried updating, and came to the same result, so it was rolled back. I also tried putting a chunk loader down ahead of me, turning on the lasers and increasing the load size to

[2019-10-09 21:45] tracyd7177 opened #21 "Immediate crash after start"
I start modpack from Twitch after recent update and after I hit the start button, the game crashes immediately. doesn't even try to load the game. It was fine before the recent update.

[2019-10-09 23:55] wideblaze commented on #21
please paste crash report
thanks!

[2019-10-10 01:31] tracyd7177 commented on #21
I deleted it and reinstalled it and it loaded. :)

[2019-10-10 11:55] wideblaze commented on #21
ok great, thanks for the info!

[2019-10-10 11:55] #21 closed, assigned to wideblaze

[2019-10-10 11:59] wideblaze commented on #20
sorry for late reply, was out of the country on vacation.

if you are still having this issues you can try the following:

1) update to DigSite 1.0.18 (released yesterday with a number of crash fixes)

if that does not resolve your issue you can also try

2) temp disable mods: vanillafix (attemps to catch crashes but sometime too much), the one probe (seems to have occasional issues with matter ov

[2019-10-10 13:25] QyryAsh commented on #20
No worries! Thank you for getting back to me! I'll try these out, and should the issue persist / other problems arise I'll let you know. Really like your mod, my friends and I really want to complete it.
Thanks again!

[2019-10-11 23:03] wideblaze commented on #19
issue is related to (modded) forge-14.23.5.2823

upgrading to lastest forge removes issue. now to test if it is safe to do with the pack.

[2019-10-12 07:02] ehilscher commented on #20
I'm having the same problem. I'm running 1.0.18 and my server crashes when I approach The Flame. I've disabled both the one probe and vanillafix, but the same error occurs:

Exception ticking world io.netty.handler.codec.EncoderException: String too big (was 33212 bytes encoded, max 32767)

[2019-10-12 15:53] wideblaze commented on #20
Hard to know exactly what is happening. I have a guess that it has something to do with matter overdrive cables (but that is just a guess).

There is a potential "if all else fails" fix:

1) Copy (ie backup) the profile before proceeding:

2) edit <profile directory>/config/forge.cfg

3) change both settings below to true

`    # Set this to true to remove any Entity that throws an error in its up

[2019-10-12 16:03] wideblaze commented on #20
Found the following after doing some additional research

https://www.reddit.com/r/feedthebeast/comments/awpww5/ticking_entity_issue/

`
waig548 1 point 6 months ago
My friend and I also got this issue. After collecting some data, including logging the contents of the packets, we've concluded that some androids from MatterOverdrive that have excessive (like 16k or more) suffixes of colors in their

[2019-10-12 19:28] ehilscher commented on #20
No change with removeErroringEntities=true and removeErroringTileEntities=true.

I found that same comment. If it is an android, it seems to be a specific one whose spawn is triggered by player proximity. There is an android in the first level of The Flame that seems to be a scripted spawn. Is there a command block or something that triggers this spawn that I can use MCEdit to delete? It's kind of

[2019-10-13 05:12] ehilscher commented on #20
I've identified the problem as the minecart android "New Android" on level 4 of The Flame. When I inspect the android using MCEdit, the custom name property is set to "§7" repeated 11064 times, followed by "New Android". That amounts to about 33kB of character data, which is more than the max. If I change the custom name to just "New Android", the server no longer crashes. This is most likely the

[2019-10-13 09:35] wideblaze commented on #20
First of all, thank you so much for going the extra mile to help identify the source of this issue!

I will open a ticket with horizon and attempt to come up with some sort of workaround since matter overdrive releases are few and far between.

As you saw there isn't much going on there, just an android in a minecart with a name tag.

There was a previous issue in the same place when I used Custom

[2019-10-14 16:36] ryanpineo commented on #20
Confirmed same issue for us, renaming the android fixed it

[2019-10-15 13:20] wideblaze commented on #19
DigSite 1.0.19  FORGE 14.23.5.2847 Updated

[2019-10-15 13:20] #19 closed, assigned to wideblaze

[2019-10-15 13:22] wideblaze commented on #20
DigSite 1.0.19 Map - Android at flame replaced with a new one. If this crash continues to happen it will be completely removed.

[2019-10-15 13:28] wideblaze opened #22 "CustomNPCs can disappear and do not reappear until reload"
A couple of reports that CustomNPCs suddenly disappear and do not reappear unless reload of game.

Probably related to the updated version of CustomNPCs

I will report bug to mod dev.

[2019-10-15 13:28] wideblaze commented on #22
Work Around: Reload game and NPCs should reappear.

[2019-10-31 11:45] wideblaze opened #23 "realistic torches config error, reverted config to default in 1.0.20"
config error reverted config to default.

reset time to a minimum
matchbook does not work to relight inworld placed torches (or like flint and steel)

[2019-10-31 11:46] wideblaze commented on #23
work around: use flint and steel or update config

[2019-10-31 11:46] wideblaze commented on #23
fixed config, will be in 1.0.21 release which will be released this week to correct issue

[2019-11-01 13:42] wideblaze commented on #23
fixed in 1.0.21

[2019-11-01 13:43] #23 closed, assigned to wideblaze

[2019-11-26 15:36] wideblaze commented on #22
I have not been able to reproduce after 30 days of testing.

[2019-11-26 15:36] #22 closed, assigned to wideblaze

[2019-11-26 15:37] wideblaze commented on #20
no new reports of this issue for 30 days. patch much have resolved

[2019-11-26 15:37] #20 closed, assigned to wideblaze

[2019-12-01 10:49] wideblaze opened #24 "Dank null crashes client"
Several reports of dank null crashing .23 update

Work around: remove dank null mod. It is not required

[2019-12-30 18:46] matkopoliceman opened #25 "A walking issue"
So when i load in, the npc in front of me starts spinning his hands, and soon my character starts spinning his arms & legs. When i try to walk the camera whites out until I stop, plz help can't play.

I have tried : killing myself, restart, redownload

[2019-12-30 19:02] #25 closed, assigned to nobody

[2020-01-04 17:03] bradystrang15 opened #26 "Launching the game failed! Failed to download file, the file contents differ from what was expected. Name: jna-4.4.0.jar"
i downloaded digsite though the twitch app and when i press play it opens my minecraft but when i try to launch the modpack i get an error saying Launching the game failed
![crash](https://user-images.githubusercontent.com/20919813/71769057-c169f280-2ef6-11ea-809f-6b79d4e84baa.png)

[2020-01-04 17:03] bradystrang15 commented on #26
oh, i should also add ive completely reinstalled minecraft and the modpack multiple times

[2020-01-05 05:38] thugitriot commented on #26
copy and past the url it gives you at the top to the jna-4.4.0 .jar file, then copy and past the path it gives you to find the folder where the .jar file normally is and replace the one in there with the one you downloaded, had the same problem and what ive done fixed mine

[2020-01-05 05:39] thugitriot commented on #26
paste the url into a browser to get the file*

[2020-01-05 11:48] wideblaze commented on #26
https://bugs.mojang.com/plugins/servlet/mobile#issue/MCL-12570

[2020-01-05 18:54] VladimirMangos opened #27 "Viallages in ocean"
I suggest set B:Ocean=false in config/MoVillages/VillageDistance.cfg
for avoid strange villages in deep sea

[2020-01-05 23:45] saphirerose opened #28 "Can't launch game"
Java HotSpot(TM) 64-Bit Server VM warning: Ignoring option PermSize; support was removed in 8.0
Exception in thread "main" java.lang.ClassCastException: class jdk.internal.loader.ClassLoaders$AppClassLoader cannot be cast to class java.net.URLClassLoader (jdk.internal.loader.ClassLoaders$AppClassLoader and java.net.URLClassLoader are in module java.base of loader 'bootstrap')
	at net.minecraft.lau

[2020-01-06 00:38] LettingYouKnowICantCode opened #29 "Unsecured Creative Air Compressors"
So basically in the structure named "The Squid" I found it quite easily to obtain the creative compressors you've used, it might not be a huge problem if you're a common player and aren't trying to locate the location of these. I'd just recommend making the bedrock around them thicker and farther from player sight. :)

[2020-01-06 02:09] saphirerose commented on #28
I figured out I needed to update the Java version in my twitch minecraft settings

[2020-01-06 02:09] #28 closed, assigned to nobody

[2020-01-06 22:53] wideblaze commented on #29
Thanks! I did some major remodeling there Recently and didn’t attempt to dig out as a player after.

[2020-01-06 22:54] wideblaze commented on #27
Good idea

[2020-01-07 23:01] CJBoom77 opened #30 "Crashes whenever I save a quit game."
https://paste.dimdev.org/hivacuxawa.mccrash

[2020-01-08 17:51] KokSaker commented on #24
Can confirm. Neither me from windows 10 cliend nor my friend from his macbook couldn't connect to the server. Server runs but it doesn't accept us, the client(not the server) crashes when we try to log in.
Edit: Removing the dank null mod from the client just simply doesn't accpet the login with a message that the server couldn't find the mod on a client. So the dank null is actually required to c

[2020-01-11 11:53] RustyXXL opened #31 "Unlucky name of Failed Chickens for German users."
Just for your information. the Short "ficken" for failed Chicken means "to fuck" in german ;)

[2020-01-11 15:57] TheGhostGaming opened #32 "Trying to update"
When I try to update to DigSite 1.0.25 I get this message, "This modpack requires a dependency that is missing or no longer available. Missing Addon ID: 225104"

[2020-01-11 16:10] wideblaze commented on #32
try again, curse forge often as temp download problems

[2020-01-11 16:12] wideblaze commented on #31
It was completely unintentional but most who see it get a good laugh

[2020-01-11 16:15] #27 closed, assigned to wideblaze

[2020-01-11 16:16] wideblaze commented on #24
Removed dank null in version 1.0.25

[2020-01-11 16:16] #24 closed, assigned to wideblaze

[2020-01-11 18:27] RustyXXL commented on #31
Yeah, wasn't really a complaint or something, my son in puberty got especially a good laugh out of it. Just thought I'd mention it, not all parents are that relaxed. ;)

[2020-01-12 21:08] #31 closed, assigned to wideblaze

[2020-01-12 21:10] wideblaze commented on #26
If you are seeing an error that says: "Failed to download file, the file contents differ from what was expected.
Name: jna-4.4.0.jar"

This is a known Minecraft bug. Follow these instructions to fix: https://youtu.be/xAnj0aVDT1A

[2020-01-12 21:14] wideblaze commented on #30
Concurrent exception errors are difficult to diagnose. If it's not affecting the save I would not worry about it. Vanilla fix is in pack and tends to crash a little too quickly to protect from a major crash. If you have any more relevant info on the crash itself I can look further into it.

[2020-01-12 21:14] #32 closed, assigned to wideblaze

[2020-01-14 22:21] AwesomeAlex42 opened #33 "Problem with custom NPC's"
https://paste.dimdev.org/qapulorubu.mccrash

[2020-01-17 18:51] wideblaze commented on #33
are you still encountering this error?

[2020-01-17 18:52] #30 closed, assigned to wideblaze

[2020-01-17 19:34] wideblaze commented on #29
secured in 1.0.27

[2020-01-17 19:34] #29 closed, assigned to wideblaze

[2020-01-20 01:02] fishinchips9x opened #34 "Game crashed and grave was deleted when reloaded"
I died on the surface of the overworld near Lucville and then the game crashed when I tried to respawn. When I reloaded the game and went to my death marker there was no grave at all and all my items are gone.

[2020-01-22 09:02] Karl-Markkus opened #35 "Single-player world - missing special mobs with stars."
Hello.

I am currently playing DigSite modpack installed directly from Twitch app.

The problem is, I am not meeting ANY of the so-called "mini-bosses" like the mobs with stars on
them. (One in the LucVille secret underground storage and maybe one in the desert digsite main chamber)

Do I have to make my own server or order a server hosting to get them to spawn or is there another way?

Hopefully

[2020-01-23 16:53] Karl-Markkus commented on #35
I've encountered another problem: upon reaching the village near the squid station

![2020-01-22_13 10 16](https://user-images.githubusercontent.com/34920334/73005403-30a57900-3e09-11ea-874b-ada5263359b6.png)

It seems to have mostly burned down... Why?

[2020-01-23 17:57] wideblaze commented on #35
The burned down village is part of the story

[2020-01-23 17:58] wideblaze commented on #35
Tiered mobs are a % chance. You can increase difficulty to hard if you want a more deadly experience

[2020-01-23 18:00] Karl-Markkus commented on #35
Okay, sorry if this was a small and irrelevant inconvenience, I just watched some other youtubers play this pack and they got the same tiered mobs in the same places... I thought it would'ove happened to me too.

[2020-01-23 18:00] Karl-Markkus commented on #35
Thanks for clarifying though, now I can play it in peace ;p

[2020-01-24 14:03] minecraftguy2020 opened #36 "flame not working 100% correct"
for some of the items you can craft it didn't give it to me after I requested it even though I had all the raw materials for it.

[2020-01-24 22:13] wideblaze commented on #36
Can you provide specifics? Thanks.

[2020-01-24 22:14] #33 closed, assigned to wideblaze

[2020-01-24 22:14] #35 closed, assigned to nobody

[2020-01-25 00:39] minecraftguy2020 commented on #36
when I made a robot head it took the materials but did not give the head and same with the mintriation projector I am in version 1.25 when it happened

[2020-01-25 20:32] ArrZeroZeroTwoSeven opened #37 "Modpack Crashes while loading. (Patchouli mod + JAR Launcher)"
According to the crash screen i guess patchouli is the issue i dont know anything about this kind of stuff but heres the crash log https://paste.dimdev.org/raw/bozuhanefo

i have the launcher set to jar launcher and have java updated all the way

[2020-01-26 00:53] wideblaze commented on #36
In 1.0.26 release notes for the map:
 - fixed sawmill input config at the flame

If your crafting operation attempted to turn logs into planks then it would stall. You can look at the crafting monitors at the edges to see what it’s trying to do / cancel operations and return material.

I’ll double check current version of the map can fully craft from raw materials. Thanks

[2020-01-26 02:52] wideblaze commented on #37
Attempted reinstall/switch to native launcher/run as admin.  Did not resolve. Native launcher does not work on their computer. They have confirmed java/forge at correct version.

[2020-01-26 02:53] wideblaze commented on #37
https://github.com/Vazkii/Patchouli/issues/187

[2020-01-26 05:45] wideblaze commented on #37
user installed ONLY Minecraft 1.12 + Patchouli mod and still crashes

https://pastebin.com/sR508WKu

[2020-01-26 05:45] #34 closed, assigned to nobody

[2020-01-26 15:33] wideblaze commented on #36
Tested 1.0.27 of map and was not able to replicate. So I think this is resolved. Thanks for reporting.

[2020-01-26 15:33] #36 closed, assigned to wideblaze

[2020-01-27 22:17] wideblaze commented on #37
Work Around: Had user install pack using MultiMC and the pack was able to load and run

[2020-01-27 22:18] #37 closed, assigned to wideblaze

[2020-02-11 02:16] spacecadetjo opened #38 "Pigs not dropping Nether Quartz at 50%"
On server, we've decimated the local population of pigs (at least 50) and have gained 3 nether quartz between us. Unless there is some other way we're expected to get nether quartz (which is another issue in and of itself) then the pig nether quartz drop rate needs to be looked at.

[2020-02-17 05:48] Xephen opened #39 "No guardians spawn after destroying guardian spawner"
So I've gotten to the part where I need to get a pristine guardian matter for android etc... and I realize that I shouldn't have broken the guardian spawner in the squid because I now can't find them ANYWHERE. It seems the only place they spawn is from that spawner, but it's broken now so I can't find a way to get at least one guardian.

[2020-02-17 10:07] wideblaze commented on #39
There are more spawners

1) ship cargo bay

2) bottom of deep abyss (underwater ravine) near ship

[2020-02-17 10:08] wideblaze commented on #38
Sorry for the late response, deep mob learning is the intended source

[2020-02-20 01:13] HorstRadish opened #40 "Won't download through Twitch: Object reference not set to an instance of an object"
I've repeatedly try'd to download the latest version of the pack through Twitch but every time it fails and says "Object reference not set to an instance of an object." what should I do?

[2020-02-21 06:08] Xaymar commented on #11
I managed to get Ore Excavation to work with the following two config files: [oreexcavation_groups.txt](https://github.com/wideblaze/DigSite/files/4234511/oreexcavation_groups.txt)
[oreexcavation_overrides.txt](https://github.com/wideblaze/DigSite/files/4234512/oreexcavation_overrides.txt). The "Groups" file defines what types of blocks are the same (and thus excavated together), while the overrid

[2020-02-21 10:58] wideblaze commented on #40
Getting multiple reports of this. The issue is with Twitch client. Recommend opening support tix with them. Issue is likely a temporary problem as google searches show issue cropping up from time to time over last couple years. Try again later seems to be easiest option. You can also use multimc instead of twitch.

[2020-02-21 10:58] wideblaze commented on #40
Work around: https://youtu.be/uvwy2bEN6k8

[2020-02-21 10:59] #39 closed, assigned to nobody

[2020-02-21 10:59] #38 closed, assigned to nobody

[2020-02-21 21:52] HorstRadish commented on #40
Thanks bro!

[2020-02-21 22:53] wideblaze commented on #11
I will test this out today! Kudos in advance if it works.

[2020-02-22 02:34] wideblaze commented on #11
@Xaymar

Testing failed. :(

Not sure if your fix was for my problem:
When B:"Ignore Tool"=false
Ores excavate correctly except mekanism ores, they do not excavate
Mekanism ores excavate correctly when B:"Ignore Tool"=true

[2020-02-22 19:34] Xaymar commented on #11
I have `B:"Ignore Tool"` also set to false. What does your oreexacation_groups.txt in /config/ look like? At minimum the blockGroups array should contain this for Mekanism:

[code]

Note the placement of commas. The JSON parser refuses to load the JSON file if there is an extra , at the end of a list. Edit: Oh and I'm not sure, but the parser might also require all listed blockGroups to be a valid

[2020-02-22 21:57] Bluedragon614 opened #41 "Exception Ticking World"
Had an issue starting up our digsite server and encountered an "Exception Ticking World". Research online leads us to believe that it has to do with a corrupted Tile Entity, and the crash log suggests it has to do with the Flood Lights mod.

The server won't start up at all, and starting up the world in singleplayer achieves the same error. Seems to have to do with the world file itself.

Here is

[2020-02-22 22:40] wideblaze commented on #11
ok great, wanted to make sure we were working on the same issue ;). I'll redo the config and test again, I had edited your original files to remove items from mods not included in the pack. It's possible a forked the syntax when I did.

[2020-02-23 00:48] wideblaze commented on #41
There are a couple ways to resolve ticking entity issues. Fastest it to 1) modify the forge config to tell the server to remove erroring entitities. 2) start server, load world, stop the server, 3) modify the forge config back 4) start the server again. The ticking entity will be removed from the world.
**https://serverminer.com/article/how-to-fix-a-ticking-block-entity-on-a-forge-server/**

[2020-02-23 00:52] wideblaze commented on #40
New reports of this issue have dropped off. I assume Twitch "fixed the glitch." Will close this issue in a week unless new reports come in.

[2020-02-23 02:04] Bluedragon614 commented on #41
Thanks for getting back so fast,

I tried that fix, and still ended up with the same error. It seems Ticking World is different from Ticking Entity, in that Ticking world means the server has no idea where the ticking entity is.

Crash log looks exactly the same as above

[2020-02-23 10:08] archkazs opened #42 "Server crash The Flame (SPOILER ALERT!!)"
Hello!

Everytime me (or anyone else from my server) aproaches to The flame, either walking through the desert or via the portal under the Main Chamber

I leave the crash report. I have no clue how to fix it :(

Thanks!
[crash-2020-02-23_10.58.29-server.txt](https://github.com/wideblaze/DigSite/files/4240827/crash-2020-02-23_10.58.29-server.txt)

[2020-02-23 10:17] wideblaze commented on #11
no joy

There was an issue with one of the files. I left out a close bracket. Fixed it but it didn't work. So I simply replaced both files ith your contents above without modification and it still didn't work. I even just use the trimmed down version in your latest post.

Not seeing any errors in logs so a little stumped. It is likely something on my end and I will have to look closer tomorrow.

[2020-02-23 10:19] wideblaze commented on #42
I believe this issue is related to a Matter Overdrive Bug with andriod naming. It will add too many characters to an android for some reason.

The world can be fixed using mcedit

https://github.com/wideblaze/DigSite/issues/20

[2020-02-23 10:25] wideblaze commented on #42
https://www.reddit.com/r/feedthebeast/comments/awpww5/ticking_entity_issue/

you may be able to solve the issue by switching to peaceful mode prior to approaching the flame

let me know if any of this fixes work for you

[2020-02-23 10:38] wideblaze commented on #41
hmmmm.... OK

backup world (just in case)
remove floodlight mod from client and server
it's not a required mod

le me know if that resolves

[2020-02-23 10:55] archkazs commented on #42
Hey!

So far so good! Changing to peaceful mode to load the chunk seems to work.

Thank you for respoding so fast!!!

[2020-02-23 11:01] wideblaze commented on #42
I was having trouble sleeping so you got lucky ;)

Spoiler alert:
The android-o-matic MAY not function correctly now but it's mostly a sight-gag and not required.

[2020-02-23 11:12] Bluedragon614 commented on #41
I had already tried removing the mod, however, it seems the ticking entity or something of the other is still persisting. It receives a different error "Exception while updating neighbours", which now has to do with a missing block/entity related to Pneumaticraft, MCMultipart and Translocators. It seems this problem runs pretty deep, and this site: https://www.danfry.net/technology/sysadmin/fixing

[2020-02-23 11:59] wideblaze commented on #41
These things seem unrelated and in different parts of your world (floodlights and translocators)

Maybe the crash caused a world file update issue? I don't know.

In any case this is a bit of a rabbit hole and I don't have simple fixes for you. Maybe best to rollback to a previously good backup if you can. If not:

Your error is here: Block location: World: (98,25,293), Chunk: (at 2,1,5 in 6,18; c

[2020-02-23 14:55] Bluedragon614 commented on #41
I tried all that I could,  but it seems the ticking entity errors just kept on coming. I successfully removed the translocator only to come across more ticking entity errors. I have no idea what we did to our world, but in the end it seemed like the only solution was to move on to a backup. Its a little bit of progress lost, but we'll just have to deal with it.

Thanks for the help anyway!

[2020-02-23 16:36] wideblaze commented on #41
OK, glad you were able to revert to backup. Keep me informed if your issue re-appears.

[2020-02-23 16:36] #41 closed, assigned to wideblaze

[2020-02-24 14:42] #42 closed, assigned to wideblaze

[2020-04-04 04:15] infamouscake2 opened #43 "flux network"
Im currently in the sparrow trying charge my jetpack and trying to figure out why my flux network isnt working, everything is outputting power exept my flux point. Ive been looking all over youtube and the internet to see if anyone has had the same issues as me but havent been able to find anything. Can I get some help if possible?

[2020-04-04 12:05] wideblaze commented on #43
So I'm not sure what your exact issue is but there are some common things that can happen:

Network:
* ensure you have placed the flux controller and ADDED your own flux network. This can be a little tricky if you have not done this before.
* ensure all flux components are connected to that network
* If you have already done this, try removing all networks and create a new one.

Power Source:
* En

[2020-04-04 15:14] infamouscake2 commented on #43
I had everyhing connected to the same network at first and tired making a new one and connected them all to it again, that didnt work. then i tried putting down a chunk loarder in the sparrow and that didnt seem to work either. I have only connected the flux point to one machine because I only have one flux point on the network. Maybe Pictures might help? Im realizing that jetpacks arent neccesarr

[2020-04-04 17:25] wideblaze commented on #43
You will need the point to be in working order to progress the questline

OK a couple of things I can see in the pics
1) you have a valid network
2) power has flowed across this network in the past
3) your basic storage is full of power now
4) the mekanism power cables appear powered (green light) or have been powered in the past

I don't any connected machines but assume they are to the right on

[2020-04-20 06:26] GeneralGerthuim opened #44 "multiplayer questing"
i am playing Digsite with my friend using Hamachi, and neither of us can talk to the old fisherman to start the questline, but we have advanced far enough to have a house and some simple tools, any way to fix the issue without starting over?

[2020-04-20 14:16] wideblaze commented on #44
Exit to main menu (both players) should resolve. Custom NPC can sometimes glitch out.

Let me know either way, thanks.

[2020-04-20 14:30] wideblaze commented on #43
assume resolved, re-open if needed

[2020-04-20 14:30] #43 closed, assigned to wideblaze

[2020-04-20 14:33] wideblaze commented on #40
no new reports, I assume this issue may re-appear from time to time since looking at google there is a history of that happening in the past, the above solution resolves.

[2020-04-20 14:33] #40 closed, assigned to wideblaze

[2020-04-20 14:35] wideblaze commented on #26
No new reports of this issue since Jan. I assume Twitch has "fixed the glitch" the above solution resolves this problem if it shows up again.

[2020-04-20 14:35] #26 closed, assigned to wideblaze

[2020-04-22 17:24] wideblaze commented on #44
closing this issue, ping me in discord if need additional help on this

[2020-04-22 17:24] #44 closed, assigned to wideblaze

[2020-04-26 21:27] Skylife27 opened #45 "Server start Forge Problem"
Originally under settings.cfg it says
FORGEVER=**14.23.5.2847**
FORGEURL=https://files.minecraftforge.net/maven/net/minecraftforge/forge/**1.12.2-14.23.5.2847**/forge-1.12.2-14.23.5.2854-installer.jar

And it failed so i found the issue that is in the last digits of FORGEVER and FORGEURL
FORGEVER=**14.23.5.2854**
FORGEURL=https://files.minecraftforge.net/maven/net/minecraftforge/forge/**1.12.2-14.

[2020-04-26 21:34] #45 closed, assigned to nobody

[2020-04-26 21:38] Skylife27 opened #46 "Server start problem"
Originally under settings.cfg it says
FORGEURL=https://files.minecraftforge.net/maven/net/minecraftforge/forge/1.12.2-14.23.5.2847/forge-1.12.2- **14.23.5.2854** -installer.jar

And it failed so i found a way to get around this but i dont know if it's a total fix
FORGEURL=https://files.minecraftforge.net/maven/net/minecraftforge/forge/1.12.2-14.23.5.2847/forge-1.12.2- **14.23.5.2847** -installer.j

[2020-04-27 00:41] wideblaze commented on #46
I will look into, I did not test server install script after updating it to 14.23.5.2854

[2020-05-15 03:25] SyntheticSponge commented on #46
I've got an addition to this as well, when the script finishes installing the forge file, the start script continues to loop install due to a if statement checking for forge-universal instead of the installed forge jar.

Line 471~
{REM Check if forge is already installed
IF NOT EXIST "%~dp0*forge*%MC_SERVER_FORGEVER%*universal*.jar"}.

[2020-05-15 13:36] wideblaze commented on #46
BUG, will be fixed in next release
Workaround:

modify settings.cfg

lines 26-27
TO:

`FORGEVER=14.23.5.2854
FORGEURL=https://files.minecraftforge.net/maven/net/minecraftforge/forge/1.12.2-14.23.5.2854/forge-1.12.2-14.23.5.2854-installer.jar
`

[2020-05-20 18:44] wideblaze commented on #46
issue fixed in 1.0.29 https://www.curseforge.com/minecraft/modpacks/digsite/files/2961677

[2020-05-20 18:44] #46 closed, assigned to wideblaze

[2020-05-20 22:05] geezerbahl opened #47 "Visual glitch with mined blocks"
Not sure if this is a "feature"/something I need to configure or a bug.  I mined some coal ore (using ~ left-click) and after the blocks were removed it shows up black where they should be.  I added a shader after that to see if that fixed it, but still there.

Image is without shader:  https://i.ibb.co/jzvVQp0/2020-05-20-14-48-17.png

Image with shader (BSL):  https://i.ibb.co/QCHh4SF/2020-05-20-

[2020-05-20 23:37] wideblaze commented on #47
This is coal gas... somewhat deadly

If you enter coal gas your world may fog
Swim underwater to wash out your eyes

[2020-05-21 00:16] geezerbahl commented on #47
Ironic part here.. when I rejoined the little help message on loading screen mentioned this.  How long do I need to swim?  Stayed under until I ran out of breath and it's still there.

[2020-05-21 01:10] geezerbahl opened #48 "Can't remap Narrator key"
JourneyMap defaults to using CTRL-B for one of it's screens.  Unfortunately Narrator is bound to this key.  With some modpacks they let you remap (or remove) this binding, but that isn't an option with DigSite.  Would be nice to add the ability to unbind this.

Note - not sure how this is done as I don't see this option in vanilla.

[2020-05-21 03:25] geezerbahl commented on #47
Actually, it looks like the coal gas effect stays but the fog clears, right?

[2020-05-21 11:13] wideblaze commented on #47
Right... the fog effect on the world (for walking into the gas) is removed by swimming... the gas stays... it can dissipate if enough open blocks/light level. Can also place blocks such a dirt to replace/remove gas.

[2020-05-28 12:36] wideblaze commented on #48
Exit to title screen, choose options, controls, you can remap any key

[2020-05-28 12:36] #48 closed, assigned to wideblaze

[2020-05-28 12:36] #47 closed, assigned to wideblaze

[2020-05-28 15:29] geezerbahl commented on #48
Remapping of narrator is not part of vanilla - you have to handle this in a mod.  Other modpacks do this, but it isn't an option with yours.  Did you actually try this? I don't see the option from title screen either.  If you do want to fix this I can find other modpacks where this option does show up.  If not, then leave the issue closed.

Up to you - I'm just trying to help.

[2020-06-05 13:26] wideblaze opened #49 "ServerStart.bat endless loops install for forge-1.12.2-14.23.5.2854 (and possibly others)"
serverstart.log:
https://pastebin.com/jUa151tq

forge server (at least in forge-1.12.2-14.23.5.2854) does not contain universal in jar name:
https://prnt.sc/sud5b0

thus fails check on line 472 and executes INSTALLSTART

work around:
removing "universal*" from line 472
IF NOT EXIST "%~dp0*forge*%MC_SERVER_FORGEVER%*universal*.jar" (

to

IF NOT EXIST "%~dp0*forge*%MC_SERVER_FORGEVER%*.jar" (

fixe

[2020-07-29 00:37] SamuraiNinija opened #50 "Server Issue"
Hi. I checked on the issues for the server but i did not see anything that i got that is making it not working i made a workarround method to stop the server from looping the installation but now the server doesn't even start. I get this error in the window

Starting DigSite Server...
DEBUG: Attempting to execute [ java -Xmx5G -Xms2G -d64 -server -XX:+AggressiveOpts -XX:ParallelGCThreads=3 -XX:+Us

[2020-08-10 13:20] billywot opened #51 "Unable to download modpack"
This modpack requires a dependency that is missing or no longer available. Missing Addon ID: 256287

Everytime I try and install any modpack i always get this errors stating that either terraqueos or Interation wheel and It makes it hard to use the modpacks via twitch

[2020-08-10 13:24] wideblaze commented on #51
This is a VERY common issue with Twitch and any modpack. The fix is to try again in a few minutes and the issue should resolve itself. It may take up to an hour or so.

The root cause it that curseforge (where the files are downloaded from) has issues from time to time.

[2020-08-28 04:19] Elmachobakaw opened #52 "new server crashed and wont start after a few hours of playing."
[21:30:20] [main/INFO] [LaunchWrapper]: Loading tweak class name net.minecraftforge.fml.common.launcher.FMLServerTweaker
[21:30:20] [main/INFO] [LaunchWrapper]: Using primary tweak class name net.minecraftforge.fml.common.launcher.FMLServerTweaker
[21:30:20] [main/INFO] [LaunchWrapper]: Calling tweak class net.minecraftforge.fml.common.launcher.FMLServerTweaker
[21:30:20] [main/INFO] [FML]: Forge

[2020-08-28 21:57] #52 closed, assigned to nobody

[2020-08-28 21:58] Elmachobakaw commented on #52
Nvm I figured it out

[2020-09-08 12:45] Echo1145 opened #53 "World problem"
When I create or play a world, it will say loading and then crash.
[crash-2020-09-08_08.35.25-server.txt](https://github.com/wideblaze/DigSite/files/5188330/crash-2020-09-08_08.35.25-server.txt)

[2020-09-08 12:57] #53 closed, assigned to nobody

[2020-09-09 14:12] deadlywolf301 opened #54 "ender chests"
the ender chests in the squid will not link for me

[2020-09-09 20:54] wideblaze commented on #54
assumed closed based on discord

[2020-09-09 20:54] #54 closed, assigned to nobody

[2020-09-09 20:54] #50 closed, assigned to nobody

[2021-01-24 07:47] ZeMysticalTaco commented on #49
This was happening to me but this did not fix it, I fixed it by adding:
`MC_SERVER_FORGE_JAR=forge-1.12.2-14.23.5.2854.jar` in settings.cfg.

[2021-02-16 07:31] jayk643 opened #55 "Quest not completing"
Im on the Look for clues at the squid quest and i did the part where i looked at the book and in the objectives it says that the book is found but it didnt give me a new quest. It also says complete with old fisherman but when i talk to him still nothing happens. Is there a way to fix this or to reload the quests?

[2021-02-16 13:04] wideblaze commented on #55
1) try exiting minecraft and restarting  (NPC quests can glitch from time to time but usually resolve on their own with a reboot).
2) go back to book location in in squid, be sure to stand right next to book
3) if these don't fix join discord and provide some screenshots https://discord.gg/HZgrxSm

[2021-05-13 16:55] lordxavier91 opened #56 "Controller"
Is the Any way to add controller support I'm this game

[2021-07-18 15:10] Nononononononononononononono69 opened #57 "YOUR ILSLFIFE"

[2021-07-18 15:10] Nononononononononononononono69 commented on #57
cum

[2021-07-18 16:23] #57 closed, assigned to nobody

[2021-08-07 03:56] daronhudson opened #58 "Coordinates from the paper don't add up in the overworld"
So I've gotten to the point where you get the paper from the guy in maximum security in the flame station and when getting to the x and z coordinates on the overworld the y doesn't add up and there's nothing there.

Looking at a few videos of it, others have y=-134 at that location but mine is significantly higher.

I'm currently running it as a server if that makes any difference.

[2021-08-07 05:15] wideblaze commented on #58
Map is same for single player and servers.

Try flipping the coords if not ending up in the right location.

[2022-05-14 01:06] Thegameinglemon10 opened #59 "Incompletable quest"
After completing the awkward pickle quest, I found that you're unable to craft any of the special pickles. All of them use an 'uncraftable pickle' in the JEI recipe view and the awkward pickle doesn't even show up in JEI list. Also, all the Discord server invites are expired.

Edit: Look at other recipes that need potions, tried to make one, but the JEI recipe viewer for potions is broken but the